altair==5.4.1
annotated-types==0.7.0
blinker==1.8.2
cachetools==5.5.0
click==8.1.7
cloudpickle==2.2.0
contourpy==1.1.1
cycler==0.12.1
Cython==0.29.34
distro==1.9.0
fancycompleter==0.9.1
filelock==3.13.4
fonttools==4.51.0
fsspec==2024.3.1
gitdb==4.0.11
GitPython==3.1.43
gym==0.26.2
gym-notices==0.0.8
hpack==4.0.0
httpx==0.28.1
jiter==0.8.2
joblib==1.2.0
kiwisolver==1.4.5
lmdb==1.4.0
markdown-it-py==3.0.0
matplotlib==3.7.5
mdurl==0.1.2
mpmath==1.3.0
narwhals==1.17.0
natsort==8.2.0
networkx==3.1
numpy==1.23.5
openai==1.57.2
pandas==2.0.1
patsy==0.5.3
pdbpp==0.10.3
Pillow==9.3.0
pmdarima==2.0.3
protobuf==4.25.5
pyarrow==17.0.0
pydantic==2.10.3
pydantic_core==2.27.1
pydeck==0.9.1
pyparsing==3.1.2
pyrepl==0.9.0
python-time==0.3.0
rich==13.9.4
scikit-learn==1.3.2
scipy==1.10.1
smmap==5.0.1
statsmodels==0.14.0
streamlit==1.34.0
sympy==1.12
tenacity==8.5.0
threadpoolctl==3.1.0
toml==0.10.2
torch==2.2.2
torchvision==0.17.2
typing_extensions==4.12.2
tzdata==2023.3
wmctrl==0.5
zstandard==0.21.0
